@font-face {
  font-family: 'digital-7_monomono';
  src: url('./font/digital7mono-b1g5-webfont.woff2') format('woff2'),
       url('./font/digital7mono-b1g5-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'digital-7_monoitalic';
  src: url('./font/digital7monoitalic-8xkz-webfont.woff2') format('woff2'),
       url('./font/digital7monoitalic-8xkz-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 40px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.calculator-frame {
  margin: 1rem;
  width: auto;
  border: 2px solid black;
  border-radius: 1rem;
  background-color: burlywood;
  color: black;
}

.calculator-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.display {
  font-family: "digital-7_monomono", monospace;
  width: 8rem;
  margin: .1rem;
  overflow: hidden;
}

.display.container {
  margin: 1rem 1rem 0;
  padding: .5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: end;
}

.display.results {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: lightgoldenrodyellow;
  border-radius: .1rem;
  border: 1px solid black;
  padding: .2rem;

}

.display.results > output {
  font-family: inherit;
}

.memory, .operation {
  font-family: "digital-7_monoitalic", monospace;
  font-style: italic;
  font-size: .3rem;
  padding-right: .2rem;
}

.operation {
  font-size: .6rem;
  margin-bottom: .1rem
}

.result {
  font-size: .75rem;
  width: 8rem;
}

.display.input {
  display: flex;
  justify-content: flex-end;
  border: 1px solid black;
  background-color: lightgoldenrodyellow;
  border-radius: .1rem
}

#input-display {
  font-size: .8rem;
  padding-top: .1rem;
  height: 1rem;
  font-family: inherit;
  margin-right: .2rem;
}

output {
  max-width: 8rem;
  
}

.btns-container {
  margin: 0 1rem 1rem;
  gap: .2rem;
  display: grid;
  grid-template:
    "clear clear backspace divide"
    "seven eight nine multiply"
    "four five six subtract"
    "one two three add"
    "zero zero decimal equals";
}

.btn {
  background-color: lightgoldenrodyellow;
  font-size: 1.5rem;
  font-weight: 250;
  border: none;
  min-width: 2rem;
  height: 2rem;
  border-radius: .5rem;
  box-shadow: .1rem .1rem .1rem #693C5E;
  text-align: center;
}

.operator {
  color: rgb(0, 134, 0);
  font-weight: 400;
  font-size: 1rem;
}

#equals {
  color: rgb(0, 96, 134);
  font-weight: 400;
  font-size: 1rem;
}

#clear {
  color: red;
  font-weight: 300;

}

#backspace {
  font-size: 14px;
  font-weight: 400;
  color: red;
}