@font-face {
  font-family: 'digital-7_monomono';
  src: url('./font/digital7mono-b1g5-webfont.woff2') format('woff2'),
       url('./font/digital7mono-b1g5-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'digital-7_monoitalic';
  src: url('./font/digital7monoitalic-8xkz-webfont.woff2') format('woff2'),
       url('./font/digital7monoitalic-8xkz-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}



* {
  border: 2px solid red;
  box-sizing: border-box;
}

.calculator-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.display {
  font-family: "digital-7_monomono", monospace;
}

.display.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  border-style: none;
}

output {
  font-family: inherit;
}

.display.results {
  height: 1.5rem;
  width: auto;
  display: flex;
  align-items: center;
}
.btns-container {
  display: grid;
  grid-template:
    "clear clear clear clear"
    ". divide multiply subtract"
    "seven eight nine add"
    "four five six add"
    "one two three equals"
    "zero zero decimal equals";
}

.btn {
  width: 4rem;
}