@font-face {
  font-family: 'digital-7_monomono';
  src: url('./font/digital7mono-b1g5-webfont.woff2') format('woff2'),
       url('./font/digital7mono-b1g5-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'digital-7_monoitalic';
  src: url('./font/digital7monoitalic-8xkz-webfont.woff2') format('woff2'),
       url('./font/digital7monoitalic-8xkz-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 40px;
}

* {
  padding: 0;
  margin: 0;
  /* border: 1px solid orange; */
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.calculator-frame {
  margin: 1rem;
  width: auto;
  border: 2px solid black;
  border-radius: 1rem;
  background-color: aquamarine;
  color: black;
}



.display {
  font-family: "digital-7_monomono", monospace;
}

.display.container {
  margin: 1rem;
  padding: .5rem;
  display: flex;
  flex-direction: column;
}

.display.results {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.display.results > output {
  font-family: inherit;
}

.memory, .operation {
  font-family: "digital-7_monoitalic", monospace;
  font-style: italic;
  font-size: .75rem;
}

.operation {
  font-size: .6rem;
  margin-bottom: .5rem
}

.output {
  font-size: 1.6rem;
}

.display.input {
  display: flex;
  justify-content: flex-end;
}

#input-display {
  height: 1.1rem;
  font-family: inherit;
  border-style: none;
}



.btns-container {
  margin: 1rem;
  gap: .2rem;
  display: grid;
  grid-template:
    "clear clear backspace divide"
    "seven eight nine multiply"
    "four five six subtract"
    "one two three add"
    "zero zero decimal equals";
}

.btn {
  font-size: 1.5rem;
  font-weight: 250;
  border: none;
  min-width: 2rem;
  height: 2rem;
  border-radius: .5rem;
  box-shadow: .1rem .1rem .1rem #693C5E;
}

